<%-include('partials/navbar.ejs')-%> 
<div class="blacker">
<br>
<br>
<br>
<br>
<br>
    <h1 class="devs">Developers</h1><br><br>

            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="card dkp devo" style="width: 18rem;">
                        <img class="card-img-top" src="divya.jpg" alt="Card image cap">
                        <div class="card-body">
                            <center>
                                <h5 class="card-title">Divya Kumar Patel</h5>
                                <p class="card-text">Android-Web App</p>
                                <a href="https://www.linkedin.com/in/divyakumar-patel-3278a525a/"
                                    class="btn btn-primary">LinkedIn</a>
                            </center>
    
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="card devo" style="width: 18rem;">
                        <img class="card-img-top koml" src="komlaksh.jpg" alt="Card image cap">
                        <div class="card-body">
                            <center>
                                <h5 class="card-title">Komlaksh Sharma</h5>
                                <p class="card-text">Google Cloud & Content</p>
                                <a href="https://www.linkedin.com/in/komlaksh-sharma-035097264/"
                                    class="btn btn-primary">LinkedIn</a>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="card devo" style="width: 18rem;">
                        <center>
                            <img class="card-img-top" src="skg.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Soubhik Gon</h5>
                                <p class="card-text">Front-End Dev,UI/UX</p>
                                <a href="https://www.linkedin.com/in/soubhikgon/" class="btn btn-primary">LinkedIn</a>
                            </div>
                        </center>
    
                    </div>
    
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="card devo" style="width: 18rem;">
                        <img class="card-img-top" src="naba.jpg" alt="Card image cap">
                        <div class="card-body">
                            <center>
                                <h5 class="card-title">Nabajyoti Naik</h5>
                                <p class="card-text">Back-End Dev,Database</p>
                                <a href="https://www.linkedin.com/in/nabajyoti-kumar-naik-3662b2248/"
                                    class="btn btn-primary">LinkedIn</a>
                            </center>
    
                        </div>
                    </div>
    
                </div>
                <center>
                    <br><br>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </center>
            <div class="container">
                <h1 class="ts">Tech Stack</h1>
                <div class="row">
                    <center>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <img class="svglogo" src="/html5.svg" alt="">
                            <img class="svglogo" src="/css3.svg" alt="">
                            <img class="svglogo" src="/js.svg" alt="">
                            <img class="svglogo" src="/java.svg" alt="">
                            <img class="svglogo" src="/node-js.svg" alt="">
                            <img class="svglogo" src="/express (1).svg" alt="">
                            <img class="svglogo" src="/ejs.svg" alt="">
                            <img class="svglogo" src="/git.svg" alt="">
                            <img class="svglogo" src="/github.svg" alt="">
                            <img class="svglogo" src="/bootstrap.svg" alt="">
                            <img class="svglogo" src="/google-cloud.svg" alt="">
                            <img class="svglogo" src="/mysql.svg" alt="">
                    </center>
                </div>
            </div>
</div>
<br><br>
<br><br>
<br><br>
<br>
</div>
<%-include('partials/footer.ejs')-%>
