<%-include('partials/navbar.ejs')-%> <!--this is the navbar.dont change this-->

    <br><br><br><br><br>
    <div class="container"><!--NO CHANGES FROM HERE-->
        <center>
            <h1>Hello!</h1>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    TerraHealth/Blog-3/Yoga Asanas and benefits</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="dropdown-item" href="/blog1">Blog 1</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/blog2">Blog 2</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/blog3">Blog 3</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="/blog4">Blog 4</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/blog5">Blog 5</a>
                    </li>
                </ul>
            </div>
        </center>
        <br><!--NO CHANGES TILL HERE-->
        <div class="contain"><!--Content--><!--push your changes in this contain division.-->
<center>
            <img class="blog-3-img-1" src="https://images.healthshots.com/healthshots/en/uploads/2022/05/11184715/Yoga-for-weight-loss.jpg" alt="alt"><br><br><br>
         </center>   <p>
                When you’re brand new to yoga, it can feel intimidating and be difficult to know exactly where and how
                to
                get started. Our Yoga for Beginners guide was created specifically for you—to give you all the tips,
                guidelines, and recommendations you will need to start a successful yoga practice. To ensure your
                success,
                we highly recommend you read this entire page before attempting any yoga.</p><br>

            <br>
            <h3>What Is Yoga?</h3>
            <p>
                Yoga is a vast collection of spiritual techniques and practices aimed at integrating mind, body, and
                spirit
                to achieve a state of enlightenment or oneness with the universe. What is normally thought of as “yoga”
                in
                the West is really Hatha Yoga, one of the many paths of yoga. The different paths of yoga emphasize
                different approaches and techniques but ultimately lead to the same goal of unification and
                enlightenment.

                Hatha Yoga attains the union of mind-body-spirit through a practice of asanas (yoga postures), pranayama
                (yoga breathing), mudra (body gestures), and shatkarma (internal cleansing). These physical practices
                are
                used to purify the body and cultivate prana (life-force energy). Modern Hatha Yoga does not emphasize
                many
                of these esoteric practices and instead focuses more on the physical yoga postures.

                Regardless of what your goals or intentions are for starting, just the yoga poses themselves is a
                fantastic
                form of mental and physical exercise.</p>

            <h3>The Benefits of Practicing Yoga</h3>
            <ul>
                <li>
                    <p> Keep your mind healthy and strong
                    </p>
                </li>
                <li>
                    <p>
                        Reduce stress and promote relaxation</p>
                </li>
                <li>

                    <p>Get a better night’s sleep</p>

                </li>

                <li>
                    <p> Boost your immune system
                        Help heal common aches like back pain
                        Increase happiness and well being and reduce depression</p>
                </li>
                <li>
                    <p> Lose weight and change your body shape
                        Improve and maintain the health of muscles, joints, and organs
                        Prevent conditions such as diabetes, heart disease, and auto-immune disorders
                        Improve flexibility, strength, stamina, mobility, range of motion, and balance.</p>
                </li>
            </ul>

            <p>An inactive lifestyle is associated with higher mortality, coronary artery disease, hypertension and
                stroke. It
                is also a primary cause of most chronic diseases, as the body rapidly adapts to insufficient physical
                activity
                which results in substantially reduced quality of life.<br>
                Regular physical activity such as running can significantly improve mental health, self-confidence,
                healthy
                ageing, and quality of life.</p>
            <br>
            <br>


            <h3> How Often Should I Do Yoga ?</h3><br>
            <p>
                If you can practice yoga 3 or more times per week, you will see significant improvements in your
                flexibility, range of motion, strength, balance, inner peace, and overall well being. Ideally, we
                recommend
                shorter and more frequent sessions, 20-45 minutes long, and for a total of 3-4 hours spread over several
                days. Practicing yoga less than this amount will still be beneficial, but you will see smaller
                improvements
                over a longer period of time. Like most things, the more time you can dedicate towards it, the more
                benefits
                you will receive.
            </p><br>
            <br><br>
            <h3> 2-Yoga Poses For Beginners</h3><br>
            <br>
            <h3>1)Tadasana :</h3>
<center>
            <img class="blog-3-img-2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTp_mb7ZrguRWIEERV-cxDPmw6Kwx3zo5hiEC3sN6fqxw&usqp=CAU&ec=48665701" alt="alt">
</center>
            <p>This pose looks easy, because it’s basically just standing. But it’s the basis for all the other
                standing poses and inversions.<br></p>
            <p>If you do this
                actively,
                you’ll be working your torso and legs, and you’ll be grounding yourself. This
                can be great for confidence and easing anxiety.<br>
                Commit to a regular schedule of yoga classes or home practice.
                Increase the length of your practice and the number of days per week that you practice
                Attend yoga workshops that focus on specific aspects of yoga in more detail
                Journal the effects a consismmunity of yogis
                Adopt a yogiestyle <br>
                <li>
                    <p>Stand with your big toes barely touching, and your heels slightly apart.</p>
                </li>
                <li>
                    <p> A
                        good
                        way
                        to gauge your stance is to see if your second toes are parallel.</p>
                </li>
                <li>
                    <p> Press into all four corners of your feet: big toe, little toe, right side heel, left side heel.
                    </p>
                </li>
                <li>
                    <p>As you
                        push
                        into your feet, feel how that engages your entire leg and keeps those muscles active.</p>
                </li>
                <li>
                    <p>Take a deep breath and roll your shoulders up and back, releasing them down, so your shoulder
                        blades
                        are
                        resting toward each other and your neck is long.</p>
                </li>
                <li>
                    <p>Take a few deep breaths here. Close your eyes if you like.</p>
                </li>

            <h3>2)Paschimottanasana(head to toe)</h3>
                <center>
            <img class="blog-3-img-2" src="https://femina.wwmindia.com/content/2022/jul/paschimottanasana-steps.jpg" alt="">
</center>
            <ul>
                <li>
                    <p>Sit with your outstretched legs and flexed toes.</p>
                </li>
                <li>
                    <p> Inhale and raise your arms.</p>
                </li>
                <li>
                    <p>Exhale and pull the navel
                        in.</p>
                </li>
                <li>
                    <p>Stretch the spine forward from the hips. </p>
                </li>
                <li>
                    <p> Hold the toes with your hands, bending the elbow outward or
                        downward.</p>
                </li>
                <li>
                    <p>In the final position, your awareness should be on your abdominal breathing.</p>
                </li>
                <li>
                    <p> “Paschimottanasana stretches the calf and hamstring muscles, which helps for better circulation.
                    </p>
                </li>
                <li>
                    <p>>It
                        elongates the spine and gives a good stretch to it.</p>
                </li>
                <li>
                    <p> It also regulates vital energy to the nervous system
                        and ensures good circulation to internal abdominal organs,”</p>
                </li>

            </ul>


            <h3>How to Improve After Starting ?</h3>
            <br>
            <p>Patience, commitment, repetition, and consistency are the keys to developing and progressing in the
                practice
                of yoga. After you’ve found a style, teacher, and yoga studio that works for you, try these tips:</p>

            <ul>

                <li>
                    <p> Commit to a regular schedule of yoga classes or home practice.</p>
                </li>
                <li>
                    <p>Increase the length of your practice and the number of days per week that you practice
                </li>
                <li>
                    <p> Attend yoga workshops that focus on specific aspects of yoga in more detail
                </li>
                <li>
                    <p> Journal the effects a consistent yoga practice has on your body, mind, and heart
                </li>
                <li>
                    <p>Read and study to learn more about yoga
                </li>
                <li>
                    <p>Find sources of inspiration
                </li>
                <li>
                    <p> Make yoga friends and get involved in a communyity of yogis
                </li>
                <li>
                    <p> Adopt a yogic lifestyle
                </li>
            </ul>
            <br>





        </div>
        <br>
        <br>
        <br>
        <br>
        <%-include('partials/footer.ejs')-%> <!--this is the footer.dont change this-->