<%-include('partials/navbar.ejs')-%>                        <!--this is the navbar.dont change this-->

    <br><br><br><br><br>
    <div class="container"><!--NO CHANGES FROM HERE-->
        <center>
            <h1>Hello!</h1>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    TerraHealth/Blog-4/ DRUG ABUSE</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="dropdown-item" href="/blog1">Blog 1</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/blog2">Blog 2</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/blog3">Blog 3</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="/blog4">Blog 4</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/blog5">Blog 5</a>
                    </li>
                </ul>
            </div>

            <br><!--NO CHANGES TILL HERE-->
            <div class="contain">
                
                <style>
                    img {
                         --g: 4px;     /* the gap */
                         --b: 12px;    /* border thickness*/
                         --c: ; /* the color */
                         
  
  
  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  filter: grayscale(50%);
  transition: .3s;
}
img:hover {
  --_p: 75%;
  filter: grayscale(0%);
  
}
                img{
                        border-radius:14px 14px;
                }

                </style>
                <img class="blog-2-img-1" src="d2.jpg" alt="alt" width="50%" margin="auto" style="--c:rgb(31, 81, 255)"></center><br>

                <h3><ins>WHAT IS DRUG ABUSE ?</ins></h3><br>
                <p>Drug abuse refers to the intentional misuse of drugs, whether prescription or illegal, for non-medical purposes. 
                   It involves using drugs in a way that is harmful to physical and mental health, and may also have negative social and economic consequences.
                </p><br>
                <h3>WHY DRUGS ARE ADDICTIVE ?</h3><br>
                <p>Drugs can be addictive because they affect the reward system in the brain. When a person takes drugs, the brain releases a surge of dopamine, a neurotransmitter that is associated with pleasure and reward. This dopamine release creates a sense of euphoria or intense pleasure, which can reinforce drug use and encourage the person to repeat the behavior.

                    Over time, drug use can change the brain's chemistry and structure, leading to physical and psychological dependence on the drug.<br> As the brain becomes accustomed to the presence of the drug, it may stop producing dopamine in response to natural rewards such as food, sex, or social interaction, leading to a reduced ability to experience pleasure from these normal activities. This can make the drug use seem more appealing and necessary, further reinforcing the cycle of addiction.
                    
                    Different drugs can have different addictive properties, and some people may be more vulnerable to addiction than others due to genetic, environmental, or psychological factors. Addiction is a complex and multi-dimensional phenomenon, and successful treatment often involves a combination of behavioral therapy, medication, and support from family and community.
                </p><br>
                <center>
                <img class="blog-4-img-2" src="d1.jpg" alt="" width="800" style="--c:rgb(150,75,0);">
                </center><br>
                <h3>HOW DRUGS AFFECT THE YOUNGSTER'S ?</h3><br>
                <p>Drug use can have serious consequences for young people, both in the short-term and long-term. Here are some ways that drugs can affect youngsters:</p><br>
                <ul>
                    <li>
                        <p><b>Impaired brain development:</b> The brain continues to develop throughout adolescence and into early adulthood. Drug use during this critical period can interfere with normal brain development, leading to long-lasting changes in brain function and structure.</p>
                    </li>
                    <li>
                        <p>
                            <b>Increased risk of addiction:</b> Young people who use drugs are more likely to develop addiction later in life. The earlier drug use begins, the higher the risk of addiction.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Poor academic performance:</b> Drug use can interfere with academic performance, leading to poor grades, absenteeism, and even dropping out of school.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Social and emotional problems:</b> Drug use can lead to social isolation, conflict with family and friends, and emotional problems such as depression and anxiety.
                        </p>
                    </li>
                    <li>
                        <p>
                            <b>Increased risk of injury and death:</b> Drug use can impair judgment, coordination, and reaction time, increasing the risk of accidents, injuries, and even death.
                        </p>
                    </li>
                </ul>
                <br>
            <img class="blog-4-img-3" src="d4.jpg" width="600" style="--c:rgb(214, 212, 209);">
            <img class="blog-4-img-4" src="d5.jpg" align="right" width="600" style="--c:rgb(150,75,0);">
            <br>
            <br>
            <br>
            
            <h3>HOW TO SAVE YOUNGSTERS FROM DRUGS ?</h3><br>
            <p>There are many ways to protect young people from drugs. Here are some strategies that can help:</p><br>
            <ul>
                <li>
                    <p>
                        Talk to them openly: Educate young people about the risks of drug use and the impact it can have on their lives. Be open, honest, and non-judgmental when discussing drug use and provide accurate information.
                    </p>
                </li>
                <li>
                    <p>
                        Be a positive role model: Model healthy behaviors, including avoiding drug use and managing stress in healthy ways.
                    </p>
                </li>
                <li>
                    <p>
                        Provide alternatives: Offer young people opportunities to engage in healthy activities, such as sports, music, or other hobbies, that can provide a sense of fulfillment and purpose.
                    </p>
                </li>
                <li>
                    <p>
                        Monitor their activities: Keep an eye on young people's activities and monitor their social media and internet use.
                    </p>
                </li>
                <li>
                    <p>
                        Seek help if needed: If you suspect that a young person is struggling with drug use or addiction, seek help from a qualified professional or addiction specialist.
                    </p>
                </li>
            </ul>
            <br>
            <img class="blog-4-img-5" src="d6.jpg" width="600" style="--c:rgb(50, 54, 42);">
            <img class="blog-4-img-6" src="d7.jpg" align="right" width="600" height="400" style="--c:rgb(117, 36, 4);">
            <br>
            <br>
            <h3>RECOVERY FROM DRUG ADDICTIVE</h3>
            <p>Recovering from drug addiction can be a challenging and complex process, but it is possible with the right treatment and support. 
            Here are some method one can try to overcome from drug addiction:</p><br>
            <ul>
                <li>
                    <p>
                        <b>Acknowledge the problem:</b> The first step to recovery is recognizing that there is a problem and acknowledging the impact that drug addiction has had on your life and the lives of those around you.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Seek professional help:</b> Treatment for drug addiction may involve detoxification, medication, and behavioral therapy. Seek help from a qualified addiction specialist or medical professional who can develop a personalized treatment plan tailored to your needs.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Avoid triggers:</b> Identify and avoid situations or people that may trigger drug use. This may involve changing your environment, avoiding certain social situations, or learning coping strategies to deal with triggers.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Develop healthy habits:</b> Engage in activities that promote physical and mental well-being, such as exercise, meditation, and therapy. Create a routine that promotes healthy eating, good sleep hygiene, and self-care.
                    </p>
                </li>
                <li>
                    <p>
                        <b>Build a support system:</b> Recovery is easier with support from family, friends, or a support group. Connect with others who are going through similar experiences and build a strong support system to help you through the recovery process.
                    </p>
                </li>
            </ul>
            <br>
            
            <center>
                <img class="blog-4-img-2" src="d3.jpg" alt="" width="600" style="--c:rgb(117, 36, 4);">
                </center><br>
            </div>
            <br>
            <br>
            <br>
            <br>
            <%-include('partials/footer.ejs')-%>                   <!--this is the footer.dont change this-->