<%-include('partials/navbar.ejs')-%>                        <!--this is the navbar.dont change this-->

    <br><br><br><br><br>
    <div class="container"><!--NO CHANGES FROM HERE-->
        <center>
            <h1>Hello!</h1>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    TerraHealth/Blog-2/ Mental Health</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="dropdown-item" href="/blog1">Blog 1</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/blog2">Blog 2</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/blog3">Blog 3</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="/blog4">Blog 4</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/blog5">Blog 5</a>
                    </li>
                </ul>
            </div>

            <br><!--NO CHANGES TILL HERE-->
            <div class="contain">
                
                <img class="blog-2-img-1" src="MH1.jpg" alt="alt" style="--c:rgb(13, 194, 28);"></center><br>
                
                <h3><ins>WHAT IS MENTAL HEALTH ?</ins></h3><br>
                <p>Mental health refers to a person's overall psychological well-being. 
                   It includes a person's emotional, social, and psychological state, and how they handle life's ups and downs. 
                   Mental health encompasses a range of factors, including thoughts, feelings, behaviors, and relationships with others.
                   Good mental health allows individuals to enjoy life, cope with stress, and contribute to their communities in positive ways. 
                   Mental health can be influenced by a variety of factors, including genetics, life experiences, and environmental factors. 
                   When someone experiences poor mental health, they may have difficulty managing emotions, relationships, and daily life tasks.
                </p><br>
                <br>
                <h3>IMPORTANCE OF MENTAL HEALTH</h3><br>
                <p>Mental health is an essential component of overall health and well-being.
                   Here are some reasons why mental health is important:</p><br>
                   <ul>
                     <li>
                        <p>Mental health is closely tied to emotional health. When we're struggling with mental health issues, we may experience a range of negative emotions, including anxiety, depression, and anger.</p>
                     </li>
                     <li>
                        <p>Mental health is also linked to productivity. When we're struggling with mental health issues, it can be challenging to stay focused and motivated at work or in other areas of our lives.</p>
                     </li>
                     <li>
                        <p>Mental health can have a significant impact on our relationships with others. When we're struggling with mental health issues, it can be difficult to maintain healthy relationships with our loved ones.</p>
                     </li>
                     <li>
                        <p> Mental health can have a significant impact on our daily lives. 
                            When we're struggling with mental health issues, it can affect our ability to function at work, in school, and in our personal relationships.</p>
                     </li>
                   </ul>
                   <br>
                   <br>
                <h3>THE MENTAL HEALTH PROBLEMS</h3><br>
                <p>Some common mental health problems include anxiety disorders, depression, bipolar disorder, schizophrenia, and eating disorders. These conditions can be very difficult to deal with, but they are treatable. 
                    Seeking professional help from a mental health provider can be an important first step in managing these conditions and improving overall mental health.
                </p>
                <br>
                
                    <img  class="blog-2-img-2" src="MH3.jpg" alt="" style="--c:rgb(4, 55, 88);">
                    <img class="blog-2-img-3" src="MH6.jpg" align="right" height="400" style="--c:rgb(34, 34, 33);">
                
                <style>
                    img {
                         --g: 4px;     /* the gap */
                         --b: 12px;    /* border thickness*/
                         --c: ; /* the color */
                         
  
  
  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  filter: grayscale(50%);
  transition: .3s;
}
img:hover {
  --_p: 75%;
  filter: grayscale(0%);
  
}
                img{
                        border-radius:14px 14px;
                }

                </style>
                <br>
                <br>
                <br>
                <h3>HOW TO MAINTAIN HEALTH PROBLEM OF A PERSON</h3><br>
                <p>TO MAINTAIN MENTAL HEALTH HERE ARE SOME METHOD ONE SHOULD TRY:</p>
                <ul>
                    <li>
                        <p>
                            Engage in activities that make you feel good and reduce stress. 
                            This may include exercise, spending time with family members, practicing meditation or mindfulness, or engaging in hobbies that you enjoy.
                        </p>
                    </li>
                    <li>
                        <p>
                            Stress can have a negative impact on mental health. 
                            Learn how to manage stress through relaxation techniques, time management, and other stress-reducing activities.
                        </p>
                    </li>
                    <li>
                        <p>
                            Negative thoughts can contribute to mental health problems. 
                            Try to focus on positive thoughts and engage in positive self-talk.
                        </p>
                    </li>
                    <li>
                        <p>
                            Sleep is important for mental health. 
                            Try to establish a regular sleep schedule, avoid caffeine and alcohol before bed, and create a comfortable sleep environment.
                        </p>
                    </li>
                    <li>
                        <p>
                            Maintaining social connections is important for mental health. 
                            Make time for friends and family, join social groups or clubs, and try to meet new people when possible.
                        </p>
                    </li>
                    <li>
                        <p>
                            Don't be afraid to ask for help if you're struggling with mental health issues. 
                            Talk to a mental health professional, join a support group, or reach out to a trusted friend or family member.
                        </p>
                    </li>
                </ul>
            <p>By taking care of your mental health, you can improve overall well-being, increase resilience, and reduce the risk of mental health problems. 
               Remember, it's important to seek professional help if you're struggling with mental health issues or if you're not sure where to turn for support.
            </p>
            <br>
            <center>
            <img class="blog-2-img-4" src="MH5.jpg" alt="" height ="450" style="--c:rgb(221, 223, 219);"></center><br>

                
            </div>
            <br>
            <br>
            <br>
            <br>
            <%-include('partials/footer.ejs')-%>                   <!--this is the footer.dont change this-->