<%-include('partials/navbar.ejs')-%>                        <!--this is the navbar.dont change this-->

    <br><br><br><br><br>
    <div class="container"><!--NO CHANGES FROM HERE-->
        <center>
            <h1>Hello!</h1>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    TerraHealth/Blog-x/ [INSERT TOPIC]</button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="dropdown-item" href="/blog1">Blog 1</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/blog2">Blog 2</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/blog3">Blog 3</a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="/blog4">Blog 4</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/blog5">Blog 5</a>
                    </li>
                </ul>
            </div>

            <br><!--NO CHANGES TILL HERE-->



            <div class="contain"><!--Content--><!--push your changes in this contain division.-->

                <!-- xuasgfkjadbanvbdahbakjdvndamvnadmv ad-->

            </div>
            
            
            
            
            
            
            
            
            <br>
            <br>
            <br>
            <br>
            <%-include('partials/footer.ejs')-%>                   <!--this is the footer.dont change this-->