<%-include('partials/navbarbmi.ejs')-%>

    <div id="bmi-a"><br><br>
        <br><br>
        <br><br>
        <h1>Calculate Your BMI</h1>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum exercitationem, ad sint quisquam fugit illo
        inventore repellendus excepturi, doloribus, facere aliquam doloremque eos enim quas perspiciatis. Pariatur
        debitis eveniet dignissimos!
    </div>














    <%-include('partials/footer.ejs')-%>