<%-include('partials/navbar.ejs')-%>
<br>
<br>
<br>
<br>
<div class="container">
    <center>
        <h1>BMI Result</h1>
    </center>
    
    <img class="bmipic1" src="/8551499.jpg" alt="">
    <p>Welcome to BMI Calculator Result!<br><br>According to the input values ,<span style="color:red;"> Your BMI is :<%=bmi%></span></p>
    <p><%=suggestion%></p>

</div>


<%-include('partials/footer.ejs')-%>