<%-include('partials/navbar.ejs')-%>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <center>
            <h1>BMR Result</h1>


            <p>Welcome to BMI Calculator Result, <%=name%>!<br><br> According to the input values,Your BMR is :<span style="color:red;"><%=bmr%></span>.
            </p>
            <br><br>
            <p>In general, having a higher BMR can be beneficial for weight management, as it means your body is burning
                more calories at rest. This can make it easier to maintain a healthy weight or to lose weight if that is
                your goal. However, having an extremely high BMR can also have some potential drawbacks, such as
                requiring you to consume more calories in order to maintain your weight, which can be challenging for
                some people. <br><br>
                <img class="bmipic1" src="/5307.jpg" alt="">
                
                It's important to keep in mind that BMR is just one factor in determining your daily calorie needs.
                Physical activity and other factors, such as your job and lifestyle, also play a role in determining
                your overall calorie needs. If you're looking to manage your weight, it's important to focus on
                achieving a healthy balance of diet and exercise that works for your individual needs and goals.
                Speaking with a healthcare professional or registered dietitian can also be helpful in developing a
                personalized plan.</p>
            <br><br><br><br>
    </div>
    </center>
    <%-include('partials/footer.ejs')-%>