<%-include('partials/navbar.ejs')-%>
<br>
<br>
<br>
<br>
<br>

    <div class="container">
        <h1>Error : <%=err%>
        </h1>
        <h1>Page Not Found/This Resource doesn't exists!</h1>
        <a style="font-size: 2rem;" href="/">Home</a>
    </div>
    <%-include('partials/footer.ejs')-%>