<%-include("partials/navbar.ejs")-%>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container-gpt">
        <h1>Please wait while we load your answer...</h1>
        <div class="container-white">
           <br><br>
            <p class="gpt-prompt"><%=xyz%></p>
            <br>
            <a href="/gpt">Ask Another?</a>
       </div>
    </div>

    <%-include("partials/footer.ejs")-%>