<%-include('partials/navbar.ejs')-%>

    <section class="video-section">
        <div class="container-1 box">
            <h1 id="heading"><span>Start yo</span>ur Fitness Journey with <span>Terra</span>-Health.</h1>
        </div>
        <video class="responsive-video" autoplay loop muted>
            <source src="backgrndvid.mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </section>
    <div class="containera">
        <div class="container"><br><br><br>
            <h1 class="tslog">Terra-Health</h1><br>
            <img class="amd" src="/amd.webp" alt="">
            <p class="txtcntr">Our vision is to create a comprehensive health care website that empowers users to take control of their well-being. Our idea is to provide a platform where users can get answers to their health-related queries, access informative blogs for health awareness, and use meters for fitness calculations. We believe that by offering these features, we can promote healthier lifestyles and help people achieve their health goals.</p>
        </div>
        <br><br>
</div>

        <div class="containerb">
            <center>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </center>
            <br><br>
            <div class="row">
                <div class="col-lg-6 md-12 sm-12 xs-12">

                    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="10000">
                                <img class="img-feature" src="carou1.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="10000">
                                <img class="img-feature" src="carou3.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item" data-bs-interval="10000">
                                <img class="img-feature" src="carou7.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <br><br><br>
                </div>

                <div class="col-lg-6 md-12 sm-12 xs-12">
                    <div class="card" style="width: 80%;height: 100%;">
                        <div class="card-body">
                            <h1 class="card-title">Features</h1>
                            <h6 class="card-subtitle mb-2 text-muted">in TerraHealth.</h6>
                            <p class="card-text">Discover the ultimate health resource:body monitoring Meters, expertly
                                curated health blogs penned by certified physicians from around the world,
                                groundbreaking
                                remedies for common ailments, and invaluable tips for cultivating a vibrant, healthy
                                lifestyle. With this comprehensive and stylishly curated collection of health and
                                wellness
                                resources, you can elevate your wellbeing to new heights and achieve a state of optimal
                                vitality.</p>
                            <a href="/meters" class="card-linka">Meters-BMI,BMR</a><br>
                            <a href="/blogs" class="card-linka">Blogs</a><br>
                            <a href="/gpt" class="card-linka">Find Cure and Tips</a>
                        </div>
                    </div>
                </div>

                <center>
                    <br><br><br>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                    <span class="dot"></span>
                </center>
                <div class="containerc">
                    <div class="container">

                        <h1 class="tag">~Blogs~</h1><br><br>
                        <p class="txtcntr">This site provides a variety of health-related blogs that cover a wide range
                            of topics,
                            from nutrition and fitness to mental health and wellness. Our blogs are written by experts
                            in their fields and provide evidence-based information and practical
                            tips to help readers make informed decisions about their health and well-being. <br>
                            <img class="i1" src="vectorart.jpg" alt="">
                        </p>
                    </div>
                    <br>
                    <br>
                    <div class="meters">
                        <h1 class="tag">~Meters~</h1><br><br>
                        <p class="txtcntr">Knowing your health status is important for making informed decisions about
                            your lifestyle
                            and well-being. This site provides helpful tips for finding health conditions through meters
                            like BMI
                            (Body Mass Index), HWR (Height to Weight Ratio) and more! .
                        </p>
                        <img class="i1" src="metabolism.jpg" alt="">
                    </div><br><br>
                    <div class="cure">
                        <h1 class="tag">~Find Cure~</h1><br><br>
                        <p class="txtcntr">It is important to take care of your health and prevent illnesses, but
                            sometimes we may
                            still experience common diseases such as the flu, colds, headaches, and allergies. This site
                            provides
                            helpful tips on how to find a cure for common diseases and manage their symptoms.
                        </p>
                        <img class="i1" src="cure.jpg" alt="">
                    </div>
                    <br>
                    <br>
                    <div class="meters">
                        <h1 class="tag">~Tips for Healthy Life~</h1><br><br>
                        <p class="txtcntr">A healthy diet is essential for maintaining optimal physical and mental
                            health. This site
                            provides a comprehensive guide on tips for a healthy diet that can help you maintain a
                            balanced and
                            nutritious eating habit.
                        </p>
                        <img class="i1" src="healhtylife.jpg" alt="">
                    </div>
                </div>
            </div>
            <br>
            <br><br>
            <%-include('partials/footer.ejs')-%>