<%-include('partials/navbar.ejs')-%>
<br>
<br>
<br>
<br>
<div class="container">
    <center>
        
        <h1>Welcome to meters!</h1><br>
<p>Health meters are devices that are used to measure various aspects of an individual's health. They are typically designed to be used at home or in a healthcare setting to monitor health status over time.<br><br>Health meters can be helpful tools for monitoring your health and identifying potential health problems. However, it is important to use them in conjunction with advice from a healthcare professional, as they may not always provide an accurate picture of your health status.</p>    
        <br>
        <h1>Choose a meter which you want to check out:</h1><br>
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs 12">
                <h1><a href="/bmi">BMI</a></h1>
                <p>BMI stands for Body Mass Index. It is a widely used measurement to assess whether a person is at a healthy weight for their height. BMI is calculated by dividing a person's weight in kilograms by their height in meters squared. .BMI is often used as a screening tool to identify potential weight-related health problems. </p>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs 12">
                <h1><a href="/bmr">BMR</a></h1>
                <p>BMR stands for Basal Metabolic Rate. It is the number of calories that your body burns at rest in order to maintain basic bodily functions such as breathing, circulation, and cell repair.Knowing your BMR can be useful for determining your daily caloric needs.Involves a simple mathematical computation which takes into account your gender, age, weight, and height. </p>
            </div>
        </div>

    </center>

<br>
<br>
<br>
<br>
</div>
<%-include('partials/footer.ejs')-%>