@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Fasthand&family=Lora:ital,wght@0,600;1,500&family=Montserrat&family=Nanum+Gothic+Coding:wght@400;700&family=Open+Sans&family=Poppins:wght@200;500&family=Sacramento&family=Source+Code+Pro:wght@600&family=Ubuntu:wght@400;700&display=swap');

/* font-family: 'Comfortaa', cursive;
font-family: 'Fasthand', cursive;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Nanum Gothic Coding', monospace;
font-family: 'Open Sans', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Source Code Pro', monospace;
font-family: 'Ubuntu', sans-serif; */

* {
    padding: 0px;
    margin: 0px;
}

h1{
    color: #d0bcd1;
}

body {
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

nav {
    background-color: #000000;
    width: 100%;
    background-image: url('best.svg');

    background-size: cover;
    background-repeat: no-repeat;
    height: 65px;
    opacity: 0.90;

}

nav:hover {
    transition: 0.4s;
    background-image: url('type2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #d0bcd1;
}

nav:hover .navbar-brand {
    transition: 0.3s;
    color: #000000;
}


ul {
    font-family: 'Poppins', sans-serif;
}

.terralogo {
    display: block;
    width: 4.8%;
    border: 5px solid rgb(74, 14, 67);
    border-radius: 7px;
    border-style: outset
}

.navbar-brand {

    position: static;
    margin-left: 20px;
    font-family: 'Sacramento', cursive;
    font-size: 20px;
    font-weight: 700;
    color: #eee;

}

.navbar-nav {
    margin-left: 0;
}
.fixed-bottom{
    background-image:url('best.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.fixed-bottom:hover{
    transition: 0.3s;
    background-image:url('type2.svg');
    background-repeat: no-repeat;
    background-size: cover;
}