@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Fasthand&family=Lora:ital,wght@0,600;1,500&family=Montserrat&family=Nanum+Gothic+Coding:wght@400;700&family=Open+Sans&family=Poppins:wght@200;500&family=Sacramento&family=Source+Code+Pro:wght@600&family=Ubuntu:wght@400;700&display=swap');

/* font-family: 'Comfortaa', cursive;
font-family: 'Fasthand', cursive;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Nanum Gothic Coding', monospace;
font-family: 'Open Sans', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Source Code Pro', monospace;
font-family: 'Ubuntu', sans-serif; */

* {
    padding: 0px;
    margin: 0px;
}

body {
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

nav {
    background-color: #000000;
    width: 100%;
    background-image: url('best.svg');

    background-size: cover;
    background-repeat: no-repeat;
    height: 65px;
    opacity: 0.90;

}

nav:hover {
    transition: 0.4s;
    background-image: url('type2.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #d0bcd1;
}

nav:hover .navbar-brand {
    transition: 0.3s;
    color: #000000;
}


ul {
    font-family: 'Poppins', sans-serif;
}

.terralogo {
    display: block;
    width: 4.8%;
    border: 5px solid rgb(43, 23, 40);
    border-radius: 7px;
    border-style: outset
}

.navbar-brand {

    position: static;
    margin-left: 20px;
    font-family: 'Sacramento', cursive;
    font-size: 20px;
    font-weight: 700;
    color: #eee;

}

.navbar-nav {
    margin-left: 0;
}

.fixed-bottom {
    background-image: url('best.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #5c3966;
}

.fixed-bottom:hover {
    transition: 0.3s;
    background-image: url('type2.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cd7272;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000000;
    font-family: 'Poppins', sans-serif;

}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
    transition: 0.3s;
    text-decoration: underline 5px white;
    color: rgb(187, 22, 187);
    cursor: crosshair;
    font-family: 'Poppins', sans-serif;
}

.video-section {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
}

.responsive-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.box {
    z-index: 30;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    /* width: 30%; */
    padding: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    font-size: 1em;
    line-height: 1.5em;
    background-color: #000000;
    border-radius: 3rem;
}

#heading {
    /* color: #232225; */
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 2.1vw;
    margin: 13% auto;
    font-weight: 1000;
    font-family: 'Poppins', sans-serif;
}

.container-1 {
    transition: 0.4s;
    z-index: 23;
    background-color: black;
    width: 36%;
    /* height: 32%; */
    overflow: hidden;
    font-size: 10px;
    border-radius: 8px;
    background-image: url('best.svg');
    background-size: cover;
}

.container-1:hover {
    transition: 0.4s;
    background-image: url('type2.svg');
    background-size: cover;
}

span {
    color: #c8cbcb;
}

h1:hover {
    transition: 0.3s;
    text-decoration: underline 5px white;
    color: rgb(187, 22, 187);
    cursor: crosshair;
    font-family: 'Poppins', sans-serif;
}

.containera {
    background-color: rgb(0, 0, 0);
    width: 100%;
}

.tslog {
    text-align: center;
    color: azure;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    color: azure;

}

.img-feature {
    width: 70%;
    border-radius: 10px;
    margin-left: 98px;
}

.card-body {
    transition: 0.4s;
    background-image: url('type2.svg');
    background-size: cover;
}

.card-body:hover {
    transition: 0.4s;
    background-image: url('best.svg');
    background-size: cover;
}

.card-title {
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;

}

h6 .mb-2 {
    color: rgb(0, 0, 0);
}

.card-text {
    color: #000000;
}
.dot {
    height: 15px;
    width: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-bottom: 25px;
}
.i1{
width: 50%;
display: block;
margin: auto;
border-radius: 10px;
padding: 30px;
}

.tag{
    color: #ffffff;
    text-align: center;
}
.txtcntr{
    text-align: center;
}
.devs {
    text-align: center;
    color: #eee;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 800;
    /* margin-bottom: 20px; */
}

.dev {
    text-decoration: underline 5px purple;
    color: #fff;
}
/* .clscrd{
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 800;

}
.obj{
    font-weight: 800;
} */
.containerb,.containerc{
    background-color: #000000;
}

.dkp{
    margin-left: 25px;
}
.devo{
    margin: auto;
}
.card-img-top{
    height: 320.8px;
    /* width: 230.67; */
}
h5{
    font-weight: 800;
}
.card-text{
    font-weight: 800;
}
.svglogo{
    width: 5.333%;
    margin: 10px;
    border-radius: 10px;
}
.ts{
    text-align: center;
    color: #fff;
    font-size: 3.3rem;
    margin-bottom: 1rem;
}
.svglogo:hover{
    width: 7%;
    transition: 0.3s;
}
.amd{
    display: block;
    margin: auto;
    width: 50%;
    padding: 30px;
}
.blacker{
    background-color: #000000;
}

.card-linka{
    font-family: 'Poppins', sans-serif;
font-weight: 800;
    color: purple
}
.card-linka:hover{
    transition: 0.3s;
font-weight: 800;
    color: black;
    font-family: 'Poppins', sans-serif;

}